* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --swiper-navigation-size:20px !important;
  --swiper-theme-color: #eee !important;
}